<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxLayout="row" fxFlex="100%" class="center space-top">
    <mat-card-content>
      <div fxLayout="row" style="background-color:#980411">
        <div fxFlex="75%">
          <h2>Life is easy with Q-Mart</h2>
          <img src="../assets/Group.png">
          <img src="../assets/categories.png">
          <br> <br>
          <img src="../assets/cart1.png">

          <p>Shopping has now been made easier.</p>
        </div>
        <div fxFlex="25%">
          <mat-card>
            <mat-card-content>
              <div class="header">
                <h2>Let's get you all set up!!</h2>
                <p> <b> By signing up,you're agreeing to our <a>Terms & Conditions</a> and <a>Privacy Policy</a></b>
                </p>
              </div>
              <form (ngSubmit)="onSignUp()" name="SignUnForm" [formGroup]="SignUpForm">
                <div class="Username">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" formControlName="Username" matInput required />
                    <mat-error *ngIf="!SignUpForm.get ('Username')?.valid && SignUpForm.get('Username')?.touched">
                      Username is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="PhoneNo">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Phone no.</mat-label>
                    <input (keyup)="onKey($event)" type="text" formControlName="PhoneNo" matInput required />

                    <mat-error *ngIf="SignUpForm.get('PhoneNo')?.errors?.['required']">
                      Phone number is required
                    </mat-error>
                    <mat-error *ngIf="SignUpForm.get('PhoneNo')?.errors?.['pattern']">
                      Please enter a valid phone number
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="Email">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email address</mat-label>

                    <input (keyup)="onKey($event)" formControlName="Email" matInput required />
                    <mat-error *ngIf="SignUpForm.get('Email')?.errors?.['required']">
                      Email is required <br>
                    </mat-error>
                    <mat-error *ngIf="SignUpForm.get('Email')?.errors?.['email']">
                      Please enter a valid Email Address
                    </mat-error>
                  </mat-form-field>
                </div> <br>
                <div class="Password">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Password</mat-label>
                    <input  [type]="type" class="formControl" formControlName="Password" matInput
                      [type]="hide ? 'password' : 'text'" matInput required />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="SignUpForm.get ('Password')?.errors?.['required']">
                      Password is required
                    </mat-error>
                    <mat-error *ngIf="SignUpForm.get('Password')?.errors?.['minlength'] ">
                      Password must be at least 8 characters
                    </mat-error>

                  </mat-form-field>

                </div><br>
                <div class="ConfirmPassword">
                  <mat-form-field class="full-width" appearance="outline">

                    <mat-label> Confirm password</mat-label>
                    <input [type]="type" class="formControl" formControlName="ConfirmPassword" matInput
                      [type]="hide ? 'password' : 'text'" matInput required />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                      *ngIf="!SignUpForm.get('ConfirmPassword')?.valid && SignUpForm.get('ConfirmPassword')?.touched">
                      Confirm password is required
                    </mat-error>
                    <mat-error *ngIf="SignUpForm.get('ConfirmPassword')?.errors?.['passwordMismatch'] ">
                      Password and confirm password do not match
                    </mat-error>
                  </mat-form-field>
                </div><br>
                <div>
                  <button mat-raised-button
                    style="background-color:#980411;width:250px;color:white;font-family: Nunito sans;"
                    (click)="openDialog()" (click)="onSignUp()" [disabled]="!SignUpForm.valid">SIGN UP</button>
                </div>
              </form>
            </mat-card-content>

          </mat-card>
        </div>