
/* mat-card{ */
    /* width:500px; */
    /* text-align: center; */
    /* background-color: #d8d2d2; */
    
    /* position: absolute;
    left:400px;
    top:100px; */
    /* justify-content: center; */
/* 
.signup{
    height:100vh;
    opacity:0.6px;
    display: flex;
} */
.header{
    /* text-align:center; */
    flex-direction: row;
    display: flex;

}
/* :host{
    height: 80vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

} */
h2{
    margin-top: 20px;
 
}

.button{
    text-decoration-color: white;
    size: 100%;
    align-items: center;
    background-color:#980411;
    width:370px;
    color:white;
    font-family: Nunito sans;
}
.Icon{
    position:absolute;
    right:0;
   
}
p{
    font-family: Nunito Sans;
    font-weight: bold;
    margin-top: 80px;
}
.full-width{
    width:100%;
}
/* .card{
    width: 600px;
} */
.group{
    position: absolute;
    left:80px;
    top:140px;
}
.categories{
    position: absolute;
    right:60px; 
    top:150px;
} 
.cart1{
    position: absolute;
    bottom:40px;
    left:250px;
} 
.hide{
    width:50%;
    margin-top: 30px;
    float: left;
    background-color: maroon;
}

@media screen and (max-width: 480px) {
    .hide{
        display:none;
        overflow: none;   
}


}
