<!-- <mat-card>
<label id="radio-group-label">Payment Method</label>
<mat-radio-group
  aria-labelledby="radio-group-label"
  class="radio-group"
  [(ngModel)]="paymentmethod">
  <mat-radio-button labelPosition ="before" class="radio-button" *ngFor="let payment of paymentmethods" [value]="payment">
    {{payment}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{paymentmethod}}</div>
</mat-card> -->
<div class="container">
<div class="row ">
    <img class="image" src="../assets/mobileMoney.png">
    Mobile Money
    </div>
    <div> 
        <img class="image" src="../assets/mastercard-logo.png">
        MasterCard
    </div>
   <div> 
    <img class="image" src="../assets/paypal.png">
    Paypal
</div>
   <div>
    <img class="image" src="../assets/visa.png">
    Visa
</div>
</div>