.radio-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 15px 0; */
    /* align-items: flex-start; */
  }
  
  .radio-button {
    margin: 5px;
  
  }
.image{
    width:40px;
}
.mat-card{
  margin-top: 20px;
}
.payment{
  display:flex;
  
}
.h2{
  text-align: center;
}
.container{
  width:80%;
}
.card{
  height: 80vh;
  width: 60%;
  margin-left: 90px;

}
.button{
  position:absolute;
  bottom:30px;
  right:80px;
  width:20%;
}
