
<mat-toolbar >
    <mat-toolbar-row style="background-color:maroon">
        <button mat-button-icon><mat-icon (click)="toggleSidebar()">menu</mat-icon></button>
         <h2>Q-Mart</h2>
       <div class="spacer"></div>
              <a mat-button routerLink="/signin" style="color:rgb(243, 237, 237)"> Signin</a>
              <a mat-button routerLink="/signup"  style="color:rgb(243, 237, 237)"> Signup</a>
             
              <button mat-button  style="color:rgb(243, 237, 237)"> <mat-icon>account_circle </mat-icon>
                User Name
                </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="mat-elevation-z2" style="height:30px">
        <div fxFlex="100" style="flex:1 1 100%;box-sizing:border-box; max-width:20%; ">
        
        </div>
        <!-- <div fxFlex fxShow="false" fxShow.gt-sm="flex 1 1 0%;box-sizing:border-box"> -->
            <button mat-button routerLink="/cart"> <mat-icon >shopping_cart</mat-icon>
             <div style="font-size:10px;" class="badge bg-danger">{{totalproducts}}</div>
            </button>
        <!-- </div> -->
    </mat-toolbar-row>
       
       
</mat-toolbar>
