
<mat-nav-list>
    <div class="logo py-4">
    <img src="../assets/q1.png" alt="logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Supermarket</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>Home
</a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>Dashboard
</a>
<a mat-list-item><mat-icon>contact</mat-icon>Contact</a>
<a mat-list-item><mat-icon>edit</mat-icon>Link1</a>
<a mat-list-item><mat-icon>edit</mat-icon>Link2</a>
<a mat-list-item><mat-icon>about</mat-icon>About</a>
</mat-nav-list>
