<mat-card>
    <mat-card-content>
        <div class="header">
            <img class="image" src="../assets/q4.png">
            <h2 >Recover password</h2>
           <p>Don't worry it happens please enter the phone number associated with it</p>
          </div>
        <form  name="RecoverForm" [formGroup]="RecoverForm">
            <div class="PhoneNo">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Phone no.</mat-label>
                    <input type="text" formControlName="PhoneNo" matInput required/>  
                    <mat-error *ngIf="RecoverForm.get ('PhoneNo')?.errors?.['required']">
                        Phone number is required </mat-error>
                        <mat-error *ngIf="RecoverForm.get('PhoneNo')?.errors?.['pattern']">Please enter a valid phone number</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button class="aLink"  routerLink="/recover">Use Email instead</button>

            <button  class="sendcode"mat-raised-button routerLink="/verification">SEND CODE</button> 
        </form> 
    </mat-card-content>
</mat-card>

