<mat-card>
    <mat-card-content>
        <div class="header">
            <h2>Change Password</h2>
            <p class="set"> Set a new password for your account so you can <br> login and access all the features</p>
        </div>
        <br>
        <br>
        <form name="ConfirmPasswordForm" [formGroup]="ConfirmPasswordForm">
            <div class="Password">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input (keyup)="onKey($event)" [type]="type" formControlName="Password" matInput
                        [type]="hide ? 'password' : 'text'" matInput required />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="!ConfirmPasswordForm.get ('Password')?.valid && ConfirmPasswordForm.get( 'Password')?.touched">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="ConfirmPasswordForm.get('Password')?.hasError('minlength') ">
                        Password must be at least 8 characters
                    </mat-error>

                </mat-form-field>
            </div>
            <br>
            <div>

                <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="type" formControlName="ConfirmPassword" matInput [type]="hide ? 'password' : 'text'"
                        matInput required />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="!ConfirmPasswordForm.get('ConfirmPassword')?.valid && ConfirmPasswordForm.get('ConfirmPassword')?.touched">
                        Confirm Password is required </mat-error>

                </mat-form-field>
            </div>

            <div><button mat-raised-button
                    style="background-color:#980411;margin-top: 40px; width:250px;color:white;font-family: Nunito sans;position:absolute;bottom:100px;right:120px;"
                    (click)="onConfirmPassword()">SAVE</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>