mat-card{
    width:fit-content;
    margin:2cm auto;
    text-align: center;
    height: 80%;
    background-color:#F8F8F8;
}
.header{
    text-align:center;

}
.full-width{
    width:70%;
    margin-top: 30px;
}

.aLink{

    color:#980411;
    font-family: Nunito sans;
    font-size: medium;
    margin-top: 100px;
}
.image{
    width:60px;
    margin-top: 20px;
}
.sendcode{
    background-color:#980411;
    margin-top:10px; 
    width:40%;
    color:white;
    font-family: Nunito sans;
    position:absolute;
    bottom:60px; 
    left:130px;
}
