mat-card{
    width:100%;
    margin:2cm auto;
    text-align: center;
    height: 600px;
    background-color:#F8F8F8;
}
.header{
    text-align:center;

}
.full-width{
    width:40%;
}
.use{
    color: #980411; 
    display:flex;
    justify-content: center;
    align-items: center;
    /* position:absolute;
    right:150px; */
}