<section class="banner">
  <div class="container text-center">
    <form>
      <mat-form-field class="full-width" appearance="outline">
        <span matPrefix> </span>
        <input type="text" matInput placeholder="Search for products" fxFlex style="flex:1 1" name="search">
        <button matSuffix mat-button>
          <mat-icon class="search">search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <owl-carousel-o [options]="productOptions">
      <ng-template carouselSlide>
        <img class="image1" src="../assets/carousel7.jpg">
      </ng-template>
      <ng-template carouselSlide>
        <img class="image1" src="../assets/carousel5.jpg">
      </ng-template>
      <ng-template carouselSlide>
        <img class="image1" src="../assets/carousel6.jpg">
      </ng-template>
      <ng-template carouselSlide>
        <img class="image1" src="../assets/carousel0.png">
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<section class="bg-color">
  <div class="container-fluid" >
    <div class="container d-flex justify-content-around">
      <!-- <div class="items"> -->
    <button class="AllProducts" mat-raised-button>
      All products
    </button>
    <button  class="AllProducts" mat-raised-button >
      Shoes
    </button>
    <button  class="AllProducts" mat-raised-button >
      Bags
    </button>
  </div>
</div>
<!-- </div> -->
<br>
  <div class="title">
    <p>New Arrivals</p>
  </div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div  *ngFor="let product of productArray">
        <mat-card >
          <div class="new">New</div>
          <img class="products" src={{product.image}} alt="handbag">
          <h2>{{product.title}}</h2>
          <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;max-width:25ch;">{{product.description}}</p>
          <p class="money">Ksh {{product.price}}

    </p>
          <mat-card-actions>
            <button mat-button>
              <span>
                <mat-icon matTooltip="wishlist">favorite</mat-icon>
              </span>
            </button>
            <button mat-button (click)="AddToCart(product)">
              <span>
                <mat-icon  matTooltip="Add to cart" >shopping_cart</mat-icon>
              </span>
            </button>
            <button mat-button>
              <span>
                <mat-icon matTooltip="view ">remove_red_eye</mat-icon>
              </span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="title">
    <p>Popular Products</p>
  </div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let product of productArray">
        <mat-card class="mat-elevation-z4">
          <div class="new">New</div>
          <img class="products" src={{product.image}} alt="handbag">
          <h2>{{product.title}}</h2>
          <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;max-width:25ch;">{{product.description}}</p>
          <p class="money">Ksh {{product.price}}

          </p>
          <mat-card-actions>
            <button mat-button>
              <span>
                <mat-icon matTooltip="wishlist">favorite</mat-icon>
              </span>
            </button>
            <button  mat-button (click)="AddToCart(product)" >
              <span>
                <mat-icon matTooltip="Add to cart">shopping_cart</mat-icon>
              </span>
            </button>
            <button mat-button>
              <span>
                <mat-icon matTooltip="view">remove_red_eye</mat-icon>
              </span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>