.logo{
    text-align: center;
    padding: 2.6 1rem;

}
.mat-icon{
    vertical-align: center;
    margin-right: 1 rem;
}
.mat-divider{
    border-top-width:2px;
    border-color: maroon;
}
mat-list-item{
    color:maroon !important;
    font-size:medium;
    height: 44px !important;
    margin-bottom: 4px;
}